<html>
    <head>
        <title>Upload Image</title>
    </head>
    <body>
        <form action="/upload-image" method="post" enctype="multipart/form-data" >
            <input type="text" name="name" id="" placeholder="Enter Name"><br><br>
            <input type="file" name="image" id=""><br><br>
            <input type="submit" value="Save">
        </form>
        <h1>Check All Images <a href="/all-image">Click Here</a></h1>
    </body>
</html>